script-api-doc
slate-api-doc
target
.settings
*.log
.project
.classpath
.springBeans
*.pref
.DS_Store
*/target/**
*.class
.idea
*.iml
/bin
/out
/.gradle
build
*.bin
*.lock
*.csv
.idea
micro-service-starter.iml
target
.gradle
/build/
/lib/
/csv-in/
.DS_Store
/*.pdf
/*.zip